.docCard {
  position: absolute;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  max-width: 445px;
  transition: opacity 0.1s ease 0.1s, transform 0.5s ease, filter 0.5s ease;
  filter: brightness(75%);
  pointer-events: none;
}

.imgContainer {
  width: 445px;
  height: 630px;

  img {
    object-fit: contain;
  }
}

.description {
  width: 100%;
  font-size: 24px;
  font-family: var(--font-family-secondary);
  text-align: center;
  margin: 15px 0 10px;
}

.activeCard {
  z-index: 2;

  .card {
    transform: scale(1) translateX(0);
    filter: brightness(100%);
    pointer-events: unset;
  }
}

.hiddenCard {
  .card {
    opacity: 0;
    transform: scale(0.75);
  }
}

.nextCard {
  .card {
    transform: translateX(82%) scale(0.75); //6% or 27px under active card
  }

  &.forward {
    z-index: -2;
  }

  &.backward {
    z-index: 1;
  }
}

.prevCard {
  .card {
    transform: translateX(-82%) scale(0.75);
  }
}

@media (max-width: 767px) {
  .card {
    max-width: 288px;
  }

  .imgContainer {
    width: 288px;
    height: 408px;
  }

  .description {
    font-size: 16px;
    margin: 10px 0;
  }
}