.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--color-dark);
}

.productsSlider {
  width: 100%;
  height: 100%;
  position: relative;
}

.hidden {
  transform: translateX(100vw);
}