.modalContainer {
  width: fit-content;
  max-width: unset;
}

.imgContainer {
  display: flex;
  background-color: rgb(98, 83, 74, 1);

  img {
    max-width: 90vw;
    max-height: 90vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.closeButton {
  position: absolute;
}
