:root {
  --color-light: #f8f6f0; //rgb(248, 246, 240);
  --color-light-80: rgba(248, 246, 240, 0.8);
  --color-light-40: rgba(255, 255, 255, 0.4);
  --color-light-30: rgba(255, 255, 255, 0.3);
  --color-light-secondary: #e4d3a5;
  --color-black: #161616;
  --color-dark-footer: #170903;
  --color-dark: #261006;
  --color-primary: #d44a2a;
  --color-primary-hover: #b63011;
  --color-secondary: #9b1e01;
  --color-bg-text: rgb(98, 83, 74, 0.3);
}
