@font-face {
  font-family: 'EurofontExtendedC';
  src:
    local('EurofontExtendedC'),
    url('../fonts/EurofontExtendedC/eurofontextendedc.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'EurofontExtendedC';
  src:
    local('EurofontExtendedC'),
    url('../fonts/EurofontExtendedC/eurofontextendedc_bold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    local('PT Root UI'),
    url('../fonts/PTRootUI/PT-Root-UI_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    local('PT Root UI'),
    url('../fonts/PTRootUI/PT-Root-UI_Medium.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --font-family: 'EurofontExtendedC', sans-serif;
  --font-family-secondary: 'PT Root UI', sans-serif;
  --fw-normal: 500;
  --fw-bold: 700;
}
