:root {
  --fw-normal: 500;
  --fw-bold: 700;
  --font-family: var(--prosto);
  --font-family-secondary: var(--prosto);
  //left the second font so that if we suddenly return to the design ones again, we wouldn't have to look for any elements of another font
}
