.aboutSection {
  padding: 160px 80px;
  position: relative;

  .separator {
    float: right;
    margin-bottom: 54px;
  }

  .backgroundText {
    font-size: 280px;
    color: var(--color-bg-text);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    word-break: break-word;
    z-index: -1;
    display: flex;
    align-items: center;
    line-height: 1;
    text-align: center;
  }

  .boy {
    z-index: -1;
    display: flex;
    align-items: flex-end;

    .imageContainer {
      object-fit: cover;
      width: 100%;
      height: 85%;
      position: relative;
    }
  }

  h2 {
    margin-bottom: 412px;
    white-space: wrap;
    max-width: 811px;
  }

  .description {
    display: flex;
    justify-content: space-between;
  }

  .aboutMission,
  .aboutCompany {
    max-width: 430px;
    width: 100%;
  }

  .aboutMission {
    text-align: end;
  }

  .text {
    padding: 30px 0;

    p:first-child {
      margin-bottom: 30px;
    }
  }

  p {
    font-family: var(--font-family-secondary);
    font-size: 20px;
  }
}

@media (max-width: 1440px) {
  .aboutSection {
    padding: 100px 20px;
    background: linear-gradient(
                    180deg,
                    rgba(41, 17, 7, 0) 0%,
                    rgba(41, 17, 7, 0) 70%,
                    #261006 100%
    );

    .separator {
      position: absolute;
      right: 20px;
      top: 214px;
    }

    .backgroundText {
      font-size: 260px;
    }

    h2 {
      margin-bottom: 80px;
    }

    .description {
      flex-direction: column;
      gap: 73px;
    }

    .aboutMission,
    .aboutCompany {
      max-width: 354px;
    }

    .aboutMission {
      align-self: flex-end;
    }

    .text {
      padding: 40px 0;
    }
  }
}


@media (max-width: 768px) {
  .aboutSection {
    .boy {
      overflow: hidden;
      .imageContainer {
        top: 90px;

        video{
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
    }
  }
}



@media (max-width: 767px) {
  .aboutSection {
    padding: 40px 16px;
    margin-bottom: 120px;

    .separator {
      right: 16px;
      top: 177px;
    }

    .backgroundText {
      font-size: 114px;
      display: block;
      margin-top: 110px;
    }

    h2 {
      margin-bottom: 60px;
      white-space: wrap;
    }

    .description {
      gap: 268px;
    }

    p {
      font-size: 18px;
    }

    .text {
      padding: 30px 0;
    }
  }
  .loader {
    position: absolute;
    top: 25%
  }
}

@media (max-width: 650px) {
  .aboutSection {
    .boy {
      .imageContainer {
        height: 55%;
        top: 30px;
      }
    }
  }
}

@media (max-width: 450px) {
  .aboutSection {
    .boy {
      .imageContainer {
        top: 50px;
      }
    }
  }
}