.button {
  --button-width: 110px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: var(--button-width);
}

.logoContainer {
  background-color: var(--color-primary);
  background-image: url('/button-bg.png');
  height: var(--button-width);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 80px;
    aspect-ratio: 8/6;
  }
}

.text {
  font-weight: var(--fw-bold);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

@media (max-width: 1440px) {
  .button {
    --button-width: 80px;
  }

  .logoContainer svg {
    width: 50px;
  }

  .text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .button {
    --button-width: 50px;
  }

  .logoContainer svg {
    width: 35px;
  }

  .text {
    font-size: 8px;
  }
}