.button {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 110px;
}

.text {
  font-weight: var(--fw-bold);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

@media (max-width: 1440px) {
  .button {
    width: 80px;
  }

  .text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .button {
    width: 50px;
  }

  .text {
    font-size: 8px;
  }
}