.cardContainer {
  position: absolute;
}

.card {
  position: relative;
  width: 600px;
  min-height: 600px;
  padding: 44px 37px 30px;
  text-align: center;
  filter: blur(1px);
  transform: scale(0.75);
  transition: transform 0.5s ease;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(45, 18, 8, 0.15);
    transition: background-color 0.5s ease;
  }

  .cardBackground {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../../assets/card.svg');
  }

  .cardName {
    color: var(--color-primary);
    font-size: 50px;
    font-weight: var(--fw-bold);
    margin-bottom: 24px;
  }

  .description {
    color: var(--color-dark);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    margin-bottom: 31px;
  }

  .model {
    height: 307px;
    margin-bottom: 38px;
    position: relative;

    img {
      object-fit: contain;
    }
  }

  button {
    z-index: 1;
  }
}

.activeCard {
  z-index: 1;

  .card {
    filter: blur(0);
    transform: scale(1) translateX(0);
    z-index: 1;
    pointer-events: unset;

    &::before {
      background-color: transparent;
    }
  }
}

.hiddenCard {
  .card {
    opacity: 0;
    transform: scale(0.75);
  }
}

.nextCard {
  .card {
    transform: translateX(82%) scale(0.75); //6% or 27px under active card
  }

  &.forward {
    z-index: -2;
  }

  &.backward {
    z-index: -1;
  }
}

.prevCard {
  .card {
    transform: translateX(-82%) scale(0.75);
  }

  &.forward {
    .card {
      z-index: -1;
    }
  }

  &.backward {
    .card {
      z-index: -2;
    }
  }
}

@media (max-width: 767px) {
  .card {
    padding: 36px 14px 30px;
    max-width: 288px;
    min-height: 400px;

    .cardName {
      font-size: 24px;
      margin-bottom: 16px;
    }

    .description {
      margin-bottom: 25px;
      font-size: 16px;
    }

    .model {
      margin-bottom: 21px;
      height: 151px;
    }
  }
}
