.overlay {
  position: fixed;
  z-index: 3;
  inset: 0;

  opacity: 0.6;
  background: var(--color-dark-footer);
}

.content {
  scrollbar-width: none;

  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: scroll;

  &:focus-visible {
    outline: none;
  }
}

.triggerContainer{
  width: fit-content;
}