.overlay {
  position: fixed;
  inset: 0;
  opacity: 0.6;
  background: var(--color-dark-footer);
  z-index: 2000;
}

.content {
  scrollbar-width: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  z-index: 2000;

  &:focus-visible {
    outline: none;
  }
}

.triggerContainer {
  width: fit-content;
}
