.carousel {
  margin: auto;
  position: relative;

  &:focus{
    outline: none;
  }
}

.itemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 600px;
}

@media (max-width: 767px) {
  .carousel {
    margin: 0;

    .itemsContainer {
      min-height: 400px;
    }
  }
}
