.docSection {
  position: relative;
  margin: var(--offset-y) 0;
  max-width: 100vw;
  overflow: hidden;

  h2 {
    margin-left: var(--offset-x);
    margin-bottom: 50px;
  }

  .background {
    font-size: 260px;
    color: var(--color-bg-text);
    font-weight: var(--fw-bold);
    top: 150px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    word-break: break-word;
    z-index: -2;
  }
}

.carousel {
  margin: auto;
  position: relative;

  &:focus {
    outline: none;
  }
}

.itemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 740px;
}

.navPanel {
  margin: 50px auto 65px;
}


@media (max-width: 1735px) {
  .docSection {
    .background {
      top: unset;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 1439px) {
  .docSection {
    .background {
      font-size: 240px;
    }

    h2 {
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 767px) {
  .docSection {
    margin: 0 0 110px;

    h2 {
      font-size: 25px;
    }

    .background {
      font-size: 115px;
      top: 0;
      display: flex;
      align-items: center;
    }
  }

  .itemsContainer {
    min-height: 500px;
  }

  .navPanel {
    margin: 24px auto 80px;
    padding: 0 16px;
  }
}
