.mainSection {
  text-align: center;
  padding: 650px 20px 230px;
  position: relative;
  background: linear-gradient(180deg, rgba(41, 17, 7, 0) 0%, rgba(41, 17, 7, 0) 50%, #261006 100%);

  .background {
    z-index: -2;
    object-fit: cover;
    background-image: url('/main-section-bg.webp');
  }

  .kids {
    z-index: -1;
    object-fit: cover;
    background-image: url("/waving/desktop/00000.png.webp");
  }

  p {
    font-size: 24px;
    font-family: var(--font-family-secondary);
    margin: 30px 0;
  }
}

@media (max-width: 1440px) {
  .mainSection {
    padding: 573px 20px 110px;

    p {
      font-size: 22px;
      margin: 40px 0;
    }
  }
}

@media (max-width: 767px) {
  .mainSection {
    padding: 573px 20px 250px;
    .background {
      background-image: url('/main-section-bg-small.webp');
    }

    p {
      font-size: 18px;
      margin: 20px 0 40px;
    }
    .kids {
      background-image: url("/waving/tablet/00000.png.webp");
    }
  }
}
@media (max-width: 480px) {
  .mainSection {
    padding: 341px 16px 86px;
    .kids {
      background-image: url("/waving/mobile/00000.png.webp");
    }
  }
}
