.gallerySection {
  padding: var(--offset-y) 0 var(--offset-y) var(--offset-x);
  position: relative;
  max-width: 100vw;
  overflow: hidden;

  h2 {
    margin-bottom: 100px;
  }

  .gradient {
    object-fit: contain;
    top: 250px !important;
    right: 120px !important;
    transform: scale(1.6);
    z-index: -1;
  }

  .background {
    font-weight: var(--fw-bold);
    font-size: 140px;
    line-height: 1;
    text-transform: uppercase;
    text-align: right;
    color: var(--color-bg-text);
    z-index: -2;
    top: 60px;
  }

  img {
    object-position: 50% 30%;
  }
}

.galleryContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1780px) {
  .gallerySection {
    padding: var(--offset-y) 0;

    h2 {
      margin-bottom: 80px;
      padding: 0 var(--offset-x);
    }

    .background {
      display: none;
    }
  }
  .galleryContainer {
    flex-direction: column;
    gap: 50px;
  }

  .albumNavigation {
    padding: 0 var(--offset-x);
  }

  @media (max-width: 767px) {
    .gallerySection {
      h2 {
        margin-bottom: 40px;
      }

      .gradient {
        top: 50px !important;
      }
    }

    .galleryContainer {
      gap: 24px;
    }
  }
}
