.greetingSection {
  z-index: 10;
  background-color: var(--color-dark);
}

.innerContainer {
  text-align: center;
  padding: 666px 0 255px;
  position: relative;
  background: linear-gradient(180deg, rgba(41, 17, 7, 0) 0%, rgba(41, 17, 7, 0) 40%, #261006 100%);
  line-height: 1;
  text-transform: uppercase;
  font-weight: var(--fw-bold);

  .background {
    //background-image: url("/main-section-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;

    &::after {
      content: '';
      background-color: var(--color-dark);
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
      position: relative;
      opacity: 0.3;
    }

    &.hidden::after {
      content: '';
      opacity: 0;
      transition: opacity 0.4s;
    }
  }

  .kids {
    z-index: -1;
    background-image: url("/greeting/desktop/00000.png.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.hidden {
      opacity: 0;
      transition: opacity 0.4s;
    }
  }

  .firstLine {
    font-size: 100px;
    margin: 0 10px 20px;
  }

  .secondLine {
    font-size: 60px;
    margin: 0 10px 30px;
  }
}

.goRight, .goLeft {
  transition: transform 0.5s ease-in-out 0.4s;
}

.goRight {
  transform: translateX(100vw);
}

.goLeft {
  transform: translateX(-100vw);
}

.hiddenSection {
  opacity: 0;
  transition: opacity 0.4s;
}

@media (max-width: 1440px) {
  .innerContainer {
    padding: 513px 0 168px;

    .firstLine {
      font-size: 70px;
    }

    .secondLine {
      font-size: 40px;
    }
  }
}

@media (max-width: 768px) {
  .innerContainer {
    .kids {
      background-image: url("/greeting/tablet/00000.png.webp");
    }

    .firstLine {
      font-size: 40px;
    }

    .secondLine {
      font-size: 26px;
    }

  }
}

@media (max-width: 480px) {
  .innerContainer {
    padding: 270px 0 85px;

    .kids {
      background-image: url("/greeting/mobile/00000.png.webp");
    }
  }
}