.greetingSection {
  text-align: center;
  padding: 666px 20px 255px;
  position: relative;
  background: linear-gradient(180deg, rgba(41, 17, 7, 0) 0%, rgba(41, 17, 7, 0) 50%, #261006 100%);

  .background {
    z-index: -2;
    object-fit: cover;
  }

  .kids {
    z-index: -1;
    object-fit: cover;
    opacity: 1;

    .bgContainer {
      background-color: #e4d3a5;
    }

    &.hidden {
      opacity: 0;
      transition: opacity 0.4s;
    }

  }


  .firstLine {
    font-weight: var(--fw-bold);
    font-size: 100px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .secondLine {
    font-size: 60px;
    font-weight: var(--fw-bold);
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}


@media (max-width: 1440px) {
  .greetingSection {
    padding: 513px 20px 168px;
    .firstLine {
      font-size: 70px;
    }

    .secondLine {
      font-size: 40px;
    }
  }
}

@media (max-width: 767px) {
  .greetingSection {
    padding: 270px 20px 85px;
    .firstLine {
      font-size: 40px;
    }

    .secondLine {
      font-size: 26px;
    }
  }
}